{
    "access_token": "**************************", 
    "appname": "nms", 
    "authenticated_userid": ""**************************@hpe.com", 
    "created_at": 1590280095286, 
    "credential_id": "**************************", 
    "expires_in": 7200, 
    "id": "**************************", 
    "refresh_token": "**************************", 
    "scope": "all", 
    "token_type": "bearer"
  }